@font-face {
    font-family: 'WorkSans-semibold';
    src: url("fonts/WorkSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-regular';
    src: url("fonts/WorkSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}